/* First Style Sheet! */

h1 {
	text-align: center;
	font-size: 20px;
	border-style: dashed;
	marginleft: 20%;
	marginright: 20%;
}
h2 {
	text-align: center;
	font-size: 15px;
	border-style: dashed;
	marginleft: 20%;
	marginright: 20%;
}
p {
	font-size: 12px;
	marginleft: 10%;
	marginright: 10%;
}